<p id="notice"><%= notice %></p>

<h1>Cerebros</h1>

<table>
  <thead>
    <tr>
      <th>Sabor</th>
      <th>IQ</th>
      <th>Fresco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brains.each do |brain| %>
      <tr>
        <td><%= brain.flavor %></td>
        <td><%= brain.iq %></td>
        <!--<td><%= brain.fresh %></td>-->
        <td>
            <% if brain.fresh %>
             <%= image_tag 'brains/B_Fresh.png', class: 'brains_fresh' %>
            <% else %>
             <%= image_tag 'brains/B_Rotten.png', class: 'brains_fresh' %>
            <% end %>
        </td>
        <td><%= link_to 'Mostrar', brain %></td>
        <td><%= link_to 'Editar', edit_brain_path(brain) %></td>
        <td><%= link_to '¡Destruir!', brain, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cerebro', new_brain_path %>
