<h1><small>Editandolo</small></h1>

<%= render 'form', zombie: @zombie %>

<%= link_to '<button class="button success"> Mostrar </button>'.html_safe, @zombie %>
<%= link_to '<button class="button secondary"> Regresar </button>'.html_safe, zombies_path %>
