<style>
    
    }
    .Botones{
        text-align:center;
    }
    img{
        width: 45px;
        height: 45px;
        
    }
    
</style>


<p id="notice"><%= notice %></p>



<table>
  <thead>
    <tr>
        <th>Avatar</th>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>E-mail</th>
      <th>Brain</th>
        <th>Owner</th>
      <th colspan="3" class="Titulo">Buttons</th>
    </tr>
  </thead>
    
  <tbody>
      
      <% @zombies.each do |zombie| %>
      <!--<#% @rotten_zombies.each do |zombie| %>-->
      
      <tr>
          
          <td>
            
            <%= image_tag(zombie.avatar_url) if zombie.avatar? %>
            
            
            
          </td>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <!--<td><%= zombie.rotten %></td>-->
        <td><%= zombie.rotten ? " " : " " %>
        <% if zombie.rotten%>
        <%= image_tag 'brains/imagen1.jpg',class:'brains_fresh'%><h8>Fresco</h8>
        <%else%>
        <%= image_tag 'brains/imagen2.jpg',class:'brains_fresh'%><h8>Podrido</h8>
        <%end%>
        </td>
        <td><%= User.find(zombie.user_id).email %></td>
        
        <% role= current_user.role%>
        <% if role == "Contributor"%>
        <td class="Botones"><%= link_to '<button class="button primary">Mostrar</button>'.html_safe, zombie %></td>
        <td class="Botones"><%= link_to '<button class="button warning"> Editar </button>'.html_safe, edit_zombie_path(zombie) %></td>
        <% elsif role == "Subscriber"%>
        <%else%>
        <td class="Botones"><%= link_to '<button class="button primary">Mostrar</button>'.html_safe, zombie %></td>
        <td class="Botones"><%= link_to '<button class="button warning"> Editar </button>'.html_safe, edit_zombie_path(zombie) %></td>
        <td class="Botones"><%= link_to '<button class="button alert">Eliminar</button>'.html_safe, zombie, method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar este zombie?' } %>   
            
        <%end%>  
    </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


