<p id="notice"><%= notice %></p>

<div class="field small-15 large-3 columns">
    <%= image_tag(@zombie.avatar_url) if @zombie.avatar? %>
</div>

<p>
  <strong>Name:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @zombie.bio %>
</p>

<p>
  <strong>Age:</strong>
  <%= @zombie.age %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @zombie.email %>
</p>

<p>
  <strong>Rotten:</strong>
  <%= @zombie.rotten ? "Sí" : "No" %>
  <!--#%= @zombie.rotten %-->
</p>



<div>
    <h2><small>C E R E B R O S</small></h2>
</div>
<table class="hover">
   <tbody>
<tr>
<td><h6> Agregado hace:</h6></td>
<td><h6>Sabor:</h6></td>
<td><h6>Iq:</h6></td>
<td><h6>Fresco:</h6></td>
</tr>
   </tbody>
</table>
<div id="brains">
    <%= render :partial => @zombie.brains.reverse %>
</div>

<div>
    <h5>Agrega cerebro al zombie</h5>
</div>

<%= form_for([@zombie, Brain.new], remote: true) do |f| %>
 
<div class="row">
 
  <div class="medium-6 columns">
    <%= f.label :flavor %>
    <%= f.text_field :flavor %>
  </div>
  
  <div class="medium-6 columns">
    <%= f.label :iq %>
    <%= f.number_field :iq %>
  </div>
  
  <div class="medium-6 columns">
    <%= f.label :fresh %>
    <%= f.check_box :fresh %>
  </div>
  
  <div class="medium-6 columns">
    <%= f.submit 'Crear Cerebro', class:'hollow button secondary' %>
  </div>
  
</div>
  
<% end %>

<!--a class="hollow button success"-->
<%= link_to '<button class="button warning"> Editar Zombie </button>'.html_safe, edit_zombie_path(@zombie) %>
 
<%= link_to '<button class="button secondary"> Regresar </button>'.html_safe, zombies_path %>