// Place all the styles related to the brains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brains_fresh{
    width: 35px;
    height: 35px;
}
.brains_{
    width: 145px;
    height: 98px;
    position: absolute;
    left: 328px;
    top: 10px;
}